* {
    box-sizing: border-box;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

html {
  font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    background-color: #3172b9;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/* HEADER */
.header {
    height: 110px;
}

.header-container  {
display: flex;
align-items: center;
justify-content: space-between;
height: 100%;
}

.nav-list {
    display: flex;
    margin: auto;
}

.nav-item {
  font-size: 15px;
  line-height: 1;
}

.nav-link {
  color: #1c1c1c;
}

.nav-item.is-active .nav-link {
  color: #3172b9;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-btn {
    margin-left: 40px;
}

/* HERO */
.section-hero {
  background-image: url(../img/Base.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 50%;
}

.section-hero-heading {
    margin-bottom: 20px;
}

.section-hero-description {
    margin-bottom: 30px;
}

.section-hero-btn-description {
    margin-top: 10px;
}

/* WHAT WE DO */
.do-container {
    padding-top: 140px;
    padding-bottom: 100px;
}

.section-description {
    margin-top: 25px;
}

.section-do-list {
    display: flex;
    margin-top: 50px;
}

.section-do-item {
    flex: 1 1 25%;
    outline: 3px solid red;
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

/* HAPPY CLIENTS */
.clients-conteiner {
  padding-top: 90px;
  padding-bottom: 100px;
}

.section-clients-list {
  display: flex;
}

.section-clients-item {
  flex: 1 1 33.33%;
}

.section-clients-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients-customer {
  display: flex;
  align-items: center;
}

.section-clients-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #3270b4;
  border-radius: 50%;
  margin-right: 15px;
}

/* CONTACTS */
.contacts-container {
  padding-top: 70px;
  padding-bottom: 160px;
}

.section-contacts-list {
  display: flex;
  margin-top: 110px;
}

.section-contacts-item  {
  flex: 1 1 33.33%;
}

.section-contacts-info {
  width: 250px;
}

.section-contacts-icon {
  display: block;
  height: 30px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps {
  background-image: url("/img/gps.png");
}

.section-contacts-icon-phone {
  background-image: url("/img/phone.png");
}

.section-contacts-icon-email {
  background-image: url("/img/mail.png");
  background-size: auto 19px;
}

.section-contacts-heading {
  display: block;
  margin-bottom: 40px;
}

/* FOOTER */
.footer {
  height: 125px;
}

.footer-container {
 display: flex;
 align-items: center;
 height: 100%;
 justify-content: space-between;
}

.footer

.footer-left {
  display: flex;
  align-items: center;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer-logo {
  margin-right: 25px;
}
